[class*="card"] [class*="media"],
[class*="card__media"],
[class*="media"],
.product-grid [class*="card__media"],
.collection .card__media,
ul#product-grid .card__media,
div.card.card--standard .card__media,
div.card__media,
.card-wrapper .media {
  border-radius: var(--media-radius, 10px) !important;
  overflow: hidden !important;
}
.media.media--transparent.media--adapt.media--hover-effect,
.grid__item .card-wrapper .card .card__inner .card__media,
.media--transparent {
  border-radius: var(--media-radius, 10px) !important;
  overflow: hidden !important;
}
[class*="card"] [class*="media"] img,
[class*="media"] img,
.card__media img,
.media img {
  border-radius: var(--media-radius, 10px) !important;
}
