.drawer {
  position: fixed;
  z-index: 1000;
  right: 0;
  left: auto;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--cart-drawer-primary-background-color));
  transition: visibility var(--duration-default) ease;
}
.drawer.active {
  visibility: visible;
}
.drawer__inner {
  height: 100%;
  width: 40rem;
  max-width: calc(100vw - 3rem);
  padding: 0 0rem;
  border: 0.1rem solid rgba(var(--color-foreground), 0.2);
  border-right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
}
.drawer__inner-empty {
  height: 100%;
  padding: 0 2rem;
  overflow: hidden;
  display: flex;
  background-color: rgba(var(--cart-drawer-primary-background-color));
  flex-direction: column;
}
.cart-drawer-header-blocks {
  display: flex;
  flex-direction: column;
  flex-shrink: 0 !important;
  flex-grow: 0 !important;
  flex-basis: auto !important;
  position: relative;
  z-index: 5;
  isolation: isolate;
  height: auto !important;
  overflow: visible !important;
}
.cart-drawer-header-blocks > * {
  position: relative;
  flex-shrink: 0 !important;
}
.cart-drawer-header-blocks > [class*="cart-timer-bar"] {
  min-height: 35px;
}
.cart-drawer-header-blocks > [class*="cart-image-banner"] {
  min-height: 50px;
}
.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
}
cart-drawer.is-empty .drawer__header {
  display: none;
}
cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}
.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}
.drawer.active .drawer__inner {
  transform: translateX(0);
}
.drawer__header {
  position: relative;
  padding: 1.5rem 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cart-drawer-header-background);
}
.drawer__heading {
  margin: 5px 0 5px 15px;
  font-size: 20px;
  color: var(--cart-drawer-primary-text-color);
}
.drawer__close {
  display: inline-block;
  padding: 0;
  min-width: 6.4rem;
  min-height: 4.4rem;
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
  position: absolute;
  top: 10px;
  right: -10px;
  color: var(--cart-drawer-primary-text-color);
  background-color: #fff0;
  border: none;
  cursor: pointer;
}
.cart-drawer__warnings .drawer__close {
  right: 5px;
}
.drawer__close .svg-wrapper {
  height: 2rem;
  width: 2rem;
}
.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15px 5px;
  margin-top: 10px;
}
.drawer__footer {
  /* padding: 1.5rem 0;
  padding-bottom: 1.5rem !important; */
  /* Padding now customizable via theme settings */
  background-color: var(--cart-drawer-primary-background-color);
}
cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}
.drawer__footer > details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
}
.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}
.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 2.8rem 1.5rem 0;
}
.drawer__footer > details + .cart-drawer__footer {
  padding-top: 1.5rem;
}
cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  width: 100vw;
  height: 100%;
}
.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cart-drawer__overlay:empty {
  display: block;
  background-color: #00000031 !important;
}
.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
}
.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}
.cart-drawer .cart-items,
.cart-drawer tbody {
  display: block;
  width: 100%;
  border-bottom-color: rgba(var(--color-foreground), 0.08);
}
.cart-drawer thead {
  display: inline-table;
  width: 100%;
}
cart-drawer-items {
  overflow: auto;
  flex: 1;
  margin-top: 0 !important;
}
@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }
  .drawer__inner {
    overflow: scroll;
  }
}
.cart-drawer .cart-item {
  display: flex;
  grid-template: repeat(2, auto) / repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 0;
  background-color: var(--cart-drawer-primary-background-color);
  border-bottom-color: rgba(var(--color-foreground), 0.08);
}
.cart-drawer .cart-item:last-child {
  margin-bottom: 1rem;
}
.cart-drawer .cart-item__media {
  grid-row: 1 / 3;
}
.cart-drawer .cart-item__image {
  max-width: 100%;
  border-radius: 8px !important;
}
.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}
.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}
.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}
.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}
.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  letter-spacing: -0.3px;
}
.cart-drawer .cart-item:last-child {
  margin-bottom: 2.5rem;
}
.cart-drawer .cart-item .loading__spinner {
  right: 5px;
  padding-top: 2.5rem;
}
.cart-drawer .cart-items td {
  padding-top: 0rem;
}
.cart-drawer .cart-item > td + td {
  padding-left: 1rem;
}
.cart-drawer .cart-item__details {
  width: 100%;
  grid-column: 2 / 4;
}
.cart-drawer .cart-item__totals {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
  letter-spacing: -0.3px;
}
.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.cart-drawer .unit-price {
  margin-top: 0.6rem;
}
.cart-drawer .cart-items .cart-item__quantity {
  padding: 0;
  grid-column: 2 / 5;
}
#CartDrawer-CartErrors:empty {
  display: none;
}
#CartDrawer-CartErrors {
  letter-spacing: var(--letter-spacing-body);
}
@media screen and (max-width: 749px) {
  cart-drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 9999;
  }
  .cart-drawer {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    z-index: 9999 !important;
  }
  .cart-drawer__overlay {
    z-index: 999 !important;
    display: none !important;
  }
  .drawer__inner {
    border-radius: 0 !important;
    padding: 0 0px !important;
    height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    display: flex;
    flex-direction: column;
    border: none !important;
  }
  .drawer__inner {
    transform: translateX(100%);
    transition: transform var(--duration-default) ease;
  }
  .cart-drawer.active .drawer__inner {
    transform: translateX(0);
  }
  .drawer__header {
    padding: 20px 15px !important;
    margin-bottom: 0 !important;
  }
  .drawer__heading {
    font-size: 2.2rem !important;
    margin: 0 !important;
  }
  .drawer__close {
    top: 12px !important;
    right: 0 !important;
  }
  .drawer__contents {
    flex: 1;
    padding-bottom: 0;
    padding: 15px 5px;
  }
  .drawer__cart-items-wrapper {
    max-height: none !important;
  }
  .cart-drawer .cart-item {
    gap: 0.8rem !important;
    margin-bottom: 1rem !important;
    padding-bottom: 1rem !important;
    border-bottom: 1px solid rgba(var(--color-foreground), 0.08) !important;
  }
  .cart-drawer .cart-item__media {
    grid-row: 1 / 3;
  }
  .cart-drawer .cart-item__image {
    max-width: 100%;
    /* width: 80px !important; */
    /* height: 80px !important; */
    /* object-fit: contain !important; */
  }
  .cart-drawer .cart-item cart-remove-button {
    margin-left: 0;
  }
  .drawer__footer {
    /* padding: 5px 0px 10px !important; */
    /* Padding now customizable via theme settings */
    margin-top: auto !important;
  }
  .cart__checkout-button {
    margin: 0 0 0 0 !important;
    padding: 16px !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .cart__checkout-button .icon-lock {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    stroke-width: 2.5;
  }
}
.cart-drawer__footer > * + * {
  margin-top: 1rem;
}
.cart-drawer .totals {
  justify-content: space-between;
}
.cart-drawer .price {
  line-height: 1;
}
.cart-drawer .tax-note {
  margin: 1.2rem 0 2rem auto;
  text-align: left;
}
.cart-drawer .product-option dd {
  word-break: break-word;
}
.cart-drawer details[open] > summary .icon-caret {
  transform: rotate(180deg);
}
.cart-drawer .cart__checkout-button {
  max-width: none;
  background-color: var(--cart-drawer-checkout-button-background);
  color: var(--cart-drawer-checkout-button-text-color);
  border: none;
}
.cart-drawer .cart__checkout-button:hover {
  filter: brightness(0.9);
}
.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}
.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}
.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}
.drawer__footer #dynamic-checkout-cart ul > li {
  flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}
.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}
@media screen and (min-width: 750px) {
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
    flex-basis: calc(50% - 0.5rem) !important;
  }
}
cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}
cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}
cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}
.cart-drawer .quantity-popover-container {
  padding: 0;
}
.cart-drawer .quantity-popover__info.global-settings-popup {
  transform: translateY(0);
  top: 100%;
}
.cart-drawer .cart-item__error {
  margin-top: -10px;
}
.cart-drawer .quantity-popover__info + .cart-item__error {
  margin-top: 0.2rem;
}
@media screen and (min-width: 750px) {
  .cart-drawer .cart-item__quantity--info quantity-popover > * {
    padding-left: 0;
  }
  .cart-drawer .cart-item__error {
    margin-left: 0;
  }
}
.cart__checkout-button {
  max-width: 36rem;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.cart__checkout-button .icon-lock {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  stroke-width: 2.5;
}
/* .cart-drawer__footer {
  padding: 0 2rem 2rem;
} */
/* Padding now customizable via theme settings */
.cart-drawer .cart-item__name {
  color: var(--cart-drawer-primary-text-color);
}
.cart-drawer .gb-price-drawer,
.cart-drawer .cart-item__final-price {
  color: var(--cart-drawer-primary-text-color);
}
.cart-drawer .gb-price-drawer-saving {
  color: var(--cart-drawer-item-saving-color);
  background-color: var(--cart-drawer-item-saving-background);
  padding: 0.2em 1em;
  justify-content: flex-end;
  width: fit-content;
  margin-top: 0.5em;
}
.cart-drawer .quantity__button {
  color: var(--cart-drawer-primary-text-color);
}
.cart-drawer .cart-remove-button {
  color: var(--cart-drawer-primary-text-color);
}
.cart-drawer .totals__subtotal-value,
.cart-drawer .totals__subtotal {
  color: var(--cart-drawer-primary-text-color);
}
.cart__empty-text {
  color: var(--cart-drawer-primary-text-color);
}
.drawer__inner-empty .button {
  background-color: var(--cart-drawer-checkout-button-background);
  color: var(--cart-drawer-checkout-button-text-color);
  border: none;
}
.drawer__inner-empty .button:hover {
  filter: brightness(0.9);
}
.cart-drawer .cart-item__quantity .product-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cart-drawer .gb-price-drawer {
  display: flex !important;
  gap: 0.5em;
  margin-top: 0px;
  white-space: nowrap !important;
  flex-wrap: nowrap !important;
  width: auto !important;
}
.cart-drawer .gb-price-drawer s,
.cart-drawer .gb-price-drawer strong {
  white-space: nowrap !important;
  display: inline-flex !important;
}
.cart-drawer .gb-price-drawer-saving {
  color: var(--cart-drawer-item-saving-color);
  background-color: var(--cart-drawer-item-saving-background);
  white-space: nowrap;
}
.cart-details-wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
tr.cart-row-divider {
  border: 1px solid #e0e0e0;
  display: block;
  margin: 10px 0;
}
.is-empty .free-product-progress-bar-main {
  display: none !important;
}
.is-empty .gb-shipping-protection {
  display: none;
}
.is-empty h2.gb-30day-back {
  display: none;
}
.is-empty .cart__ctas {
  display: none;
}
.is-empty .drawer__footer {
  display: none;
}
