.announcement-bar-section {
  position: relative;
  z-index: 2;
  padding: 5px 20px;
  text-align: center;
}
.announcement-bar-section p {
  margin: 0;
  letter-spacing: var(--letter-spacing-body);
  font-weight: var(--font-weight-regular) !important;
}
[dir="rtl"].announcement-bar-section p {
  text-align: center;
}
