/* ================================================
   RTL (Right-to-Left) Support Stylesheet
   
   This file provides comprehensive RTL support for
   Arabic, Hebrew, and other RTL languages.
   
   Applied when the theme setting "Enable RTL Support"
   is enabled and the locale is detected as RTL.
   ================================================ */

/* ===========================================
   GLOBAL RTL STYLES
   =========================================== */

[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

[dir="rtl"] body {
  direction: rtl;
  text-align: right;
}

[dir="rtl"] h1,
[dir="rtl"] h2,
[dir="rtl"] h3,
[dir="rtl"] h4,
[dir="rtl"] h5,
[dir="rtl"] span,
[dir="rtl"] p,
[dir="rtl"] input,
[dir="rtl"] label {
  direction: rtl;
  text-align: right;
}

/* ===========================================
   TEXT ALIGNMENT
   =========================================== */

[dir="rtl"] .text-left,
[dir="rtl"] .left {
  text-align: right !important;
}

[dir="rtl"] .text-right,
[dir="rtl"] .right {
  text-align: left !important;
}

[dir="rtl"] .text-start {
  text-align: right !important;
}

[dir="rtl"] .text-end {
  text-align: left !important;
}

/* ===========================================
   FLEX LAYOUTS
   =========================================== */

[dir="rtl"] .flex,
[dir="rtl"] .d-flex {
  direction: rtl;
}

[dir="rtl"] .justify-content-start {
  justify-content: flex-end !important;
}

[dir="rtl"] .justify-content-end {
  justify-content: flex-start !important;
}

[dir="rtl"] .align-items-start {
  align-items: flex-end !important;
}

[dir="rtl"] .align-items-end {
  align-items: flex-start !important;
}

/* ===========================================
   MARGINS AND PADDINGS
   =========================================== */

/* Margin adjustments */
[dir="rtl"] .ml-1,
[dir="rtl"] .margin-left-1 {
  margin-left: 0;
  margin-right: 0.25rem;
}
[dir="rtl"] .ml-2,
[dir="rtl"] .margin-left-2 {
  margin-left: 0;
  margin-right: 0.5rem;
}
[dir="rtl"] .ml-3,
[dir="rtl"] .margin-left-3 {
  margin-left: 0;
  margin-right: 1rem;
}
[dir="rtl"] .ml-4,
[dir="rtl"] .margin-left-4 {
  margin-left: 0;
  margin-right: 1.5rem;
}
[dir="rtl"] .ml-5,
[dir="rtl"] .margin-left-5 {
  margin-left: 0;
  margin-right: 3rem;
}

[dir="rtl"] .mr-1,
[dir="rtl"] .margin-right-1 {
  margin-right: 0;
  margin-left: 0.25rem;
}
[dir="rtl"] .mr-2,
[dir="rtl"] .margin-right-2 {
  margin-right: 0;
  margin-left: 0.5rem;
}
[dir="rtl"] .mr-3,
[dir="rtl"] .margin-right-3 {
  margin-right: 0;
  margin-left: 1rem;
}
[dir="rtl"] .mr-4,
[dir="rtl"] .margin-right-4 {
  margin-right: 0;
  margin-left: 1.5rem;
}
[dir="rtl"] .mr-5,
[dir="rtl"] .margin-right-5 {
  margin-right: 0;
  margin-left: 3rem;
}

/* Padding adjustments */
[dir="rtl"] .pl-1,
[dir="rtl"] .padding-left-1 {
  padding-left: 0;
  padding-right: 0.25rem;
}
[dir="rtl"] .pl-2,
[dir="rtl"] .padding-left-2 {
  padding-left: 0;
  padding-right: 0.5rem;
}
[dir="rtl"] .pl-3,
[dir="rtl"] .padding-left-3 {
  padding-left: 0;
  padding-right: 1rem;
}
[dir="rtl"] .pl-4,
[dir="rtl"] .padding-left-4 {
  padding-left: 0;
  padding-right: 1.5rem;
}
[dir="rtl"] .pl-5,
[dir="rtl"] .padding-left-5 {
  padding-left: 0;
  padding-right: 3rem;
}

[dir="rtl"] .pr-1,
[dir="rtl"] .padding-right-1 {
  padding-right: 0;
  padding-left: 0.25rem;
}
[dir="rtl"] .pr-2,
[dir="rtl"] .padding-right-2 {
  padding-right: 0;
  padding-left: 0.5rem;
}
[dir="rtl"] .pr-3,
[dir="rtl"] .padding-right-3 {
  padding-right: 0;
  padding-left: 1rem;
}
[dir="rtl"] .pr-4,
[dir="rtl"] .padding-right-4 {
  padding-right: 0;
  padding-left: 1.5rem;
}
[dir="rtl"] .pr-5,
[dir="rtl"] .padding-right-5 {
  padding-right: 0;
  padding-left: 3rem;
}

/* ===========================================
   FLOATING ELEMENTS
   =========================================== */

[dir="rtl"] .float-left {
  float: right !important;
}

[dir="rtl"] .float-right {
  float: left !important;
}

[dir="rtl"] .float-start {
  float: right !important;
}

[dir="rtl"] .float-end {
  float: left !important;
}

/* ===========================================
   POSITIONING
   =========================================== */

[dir="rtl"] .left-0 {
  left: auto;
  right: 0;
}

[dir="rtl"] .right-0 {
  right: auto;
  left: 0;
}

/* ===========================================
   HEADER STYLES
   =========================================== */

[dir="rtl"] .header {
  direction: rtl;
}

[dir="rtl"] .header__menu-item {
  margin-left: 0;
  margin-right: 2rem;
}

[dir="rtl"] .header__menu-item:first-child {
  margin-right: 0;
}

[dir="rtl"] .header__icon {
  margin-left: 1rem;
  margin-right: 0;
}

[dir="rtl"] .header__search,
[dir="rtl"] .header__account,
[dir="rtl"] .header__cart {
  margin-left: 1rem;
  margin-right: 0;
}

/* ===========================================
   NAVIGATION & MENU
   =========================================== */

[dir="rtl"] .menu-drawer {
  right: 0;
  left: auto;
}

[dir="rtl"] .menu-drawer__navigation .menu-drawer__menu li {
  text-align: right;
}

[dir="rtl"] .menu-drawer__submenu {
  right: 0;
  left: auto;
}

[dir="rtl"] .navigation__item {
  margin-left: 0;
  margin-right: 2rem;
}

/* ===========================================
   PRODUCT CARD STYLES
   =========================================== */

[dir="rtl"] .card__media,
[dir="rtl"] .card__content {
  text-align: right;
}

[dir="rtl"] .card-product__badges {
  left: auto;
  right: 1rem;
}

[dir="rtl"] .card-product__quantity {
  left: auto;
  right: 1rem;
}

/* ===========================================
   PRODUCT PAGE STYLES
   =========================================== */

[dir="rtl"] .product__media-gallery {
  margin-left: 0;
  margin-right: 2rem;
}

[dir="rtl"] .product__info {
  text-align: right;
}

[dir="rtl"] .product-form__buttons {
  direction: rtl;
}

[dir="rtl"] .product__accordion .summary {
  text-align: right;
}

/* ===========================================
   CART STYLES
   =========================================== */

[dir="rtl"] .cart-drawer {
  right: 0;
  left: auto;
}

[dir="rtl"] .cart-item {
  direction: rtl;
}

[dir="rtl"] .cart-item__image {
  margin-left: 1rem;
  margin-right: 0;
}

[dir="rtl"] .cart-item__details {
  text-align: right;
}

[dir="rtl"] .cart-item__quantity {
  margin-left: 1rem;
  margin-right: 0;
}

/* ===========================================
   FOOTER STYLES
   =========================================== */

[dir="rtl"] .footer {
  direction: rtl;
  text-align: right;
}

[dir="rtl"] .footer__content-top {
  text-align: right;
}

[dir="rtl"] .footer__content-bottom {
  text-align: right;
}

[dir="rtl"] .footer__column {
  text-align: right;
}

/* ===========================================
   FORM STYLES
   =========================================== */

[dir="rtl"] .field {
  direction: rtl;
}

[dir="rtl"] .field__input,
[dir="rtl"] .field__select,
[dir="rtl"] .field__textarea {
  text-align: right !important;
  direction: rtl;
}

[dir="rtl"] .field__label {
  text-align: right;
}

[dir="rtl"] .customer .field {
  text-align: right;
}

/* ===========================================
   SEARCH STYLES
   =========================================== */

[dir="rtl"] .search__input {
  text-align: right;
  direction: rtl;
}

[dir="rtl"] input:-moz-placeholder {
  text-align: right;
  direction: rtl;
}

[dir="rtl"] ::-webkit-input-placeholder {
  text-align: right;
  direction: rtl;
}

[dir="rtl"] input::placeholder {
  text-align: right;
  direction: rtl;
}

[dir="rtl"] .search__button {
  left: 0;
  right: auto;
}

[dir="rtl"] .predictive-search {
  text-align: right;
}

/* ===========================================
   BREADCRUMBS
   =========================================== */

[dir="rtl"] .breadcrumbs {
  direction: rtl;
}

[dir="rtl"] .breadcrumbs__list {
  justify-content: flex-end;
}

[dir="rtl"] .breadcrumbs__item::after {
  content: "\\";
  margin: 0 0.5rem;
}

/* ===========================================
   PAGINATION
   =========================================== */

[dir="rtl"] .pagination {
  direction: rtl;
}

[dir="rtl"] .pagination__list {
  justify-content: flex-end;
}

[dir="rtl"] .pagination__item {
  margin-left: 0.5rem;
  margin-right: 0;
}

/* ===========================================
   NEWSLETTER & SIGNUP FORMS
   =========================================== */

[dir="rtl"] .newsletter-form {
  direction: rtl;
}

[dir="rtl"] .newsletter-form__field-wrapper {
  direction: rtl;
}

[dir="rtl"] .newsletter-form__button {
  left: 0;
  right: auto;
}

/* ===========================================
   MODAL & POPUP STYLES
   =========================================== */

[dir="rtl"] .modal {
  direction: rtl;
  text-align: right;
}

[dir="rtl"] .modal__content {
  text-align: right;
}

[dir="rtl"] .modal__close-button {
  left: 2rem;
  right: auto;
}

/* ===========================================
   ANNOUNCEMENT BAR
   =========================================== */

[dir="rtl"] .announcement-bar {
  direction: rtl;
  text-align: right;
}

[dir="rtl"] .announcement-bar__message {
  text-align: right;
}

/* ===========================================
   COLLECTION STYLES
   =========================================== */

[dir="rtl"] .collection {
  direction: rtl;
}

[dir="rtl"] .collection-hero {
  text-align: right;
}

[dir="rtl"] .collection-product-grid {
  direction: rtl;
}

/* ===========================================
   FILTERS & FACETS
   =========================================== */

[dir="rtl"] .facets {
  text-align: right;
}

[dir="rtl"] .facets__form {
  direction: rtl;
}

[dir="rtl"] .facets__disclosure {
  text-align: right;
}

[dir="rtl"] .facets__checkbox {
  margin-left: 0.5rem;
  margin-right: 0;
}

[dir="rtl"] .facets__price {
  direction: rtl;
}

/* ===========================================
   BLOG STYLES
   =========================================== */

[dir="rtl"] .blog {
  direction: rtl;
  text-align: right;
}

[dir="rtl"] .article {
  text-align: right;
}

[dir="rtl"] .article__title {
  text-align: right;
}

[dir="rtl"] .article__content {
  text-align: right;
}

/* ===========================================
   CUSTOMER ACCOUNT STYLES
   =========================================== */

[dir="rtl"] .customer {
  direction: rtl;
  text-align: right;
}

[dir="rtl"] .customer__orders {
  text-align: right;
}

[dir="rtl"] .customer__order {
  text-align: right;
}

/* ===========================================
   LOCALIZATION STYLES
   =========================================== */

[dir="rtl"] .localization-form {
  direction: rtl;
}

[dir="rtl"] .localization-form__select {
  text-align: right;
  direction: rtl;
}

/* ===========================================
   STICKY ADD TO CART RTL
   =========================================== */

[dir="rtl"] .sticky-add-to-cart__container {
  direction: rtl;
}

[dir="rtl"] .sticky-add-to-cart__product {
  flex-direction: row-reverse;
}

[dir="rtl"] .sticky-add-to-cart__image {
  margin-left: 15px;
  margin-right: 0;
}

[dir="rtl"] .sticky-add-to-cart__details {
  text-align: right;
}

[dir="rtl"] .sticky-add-to-cart__shipping {
  justify-content: flex-start;
}

[dir="rtl"] .sticky-add-to-cart__stars {
  margin-left: 8px;
  margin-right: 0;
}

[dir="rtl"] .delivery-icon {
  margin-left: 5px;
  margin-right: 0;
}

[dir="rtl"] .delivery-text {
  margin-left: 4px;
  margin-right: 0;
}

/* ===========================================
   ICONS & ARROWS RTL FLIPPING
   =========================================== */

[dir="rtl"] .icon-chevron-right,
[dir="rtl"] .arrow-right {
  transform: scaleX(-1);
}

[dir="rtl"] .icon-chevron-left,
[dir="rtl"] .arrow-left {
  transform: scaleX(-1);
}

[dir="rtl"] .icon-arrow-right {
  transform: scaleX(-1);
}

[dir="rtl"] .icon-arrow-left {
  transform: scaleX(-1);
}

/* ===========================================
   SLIDER & CAROUSEL RTL
   =========================================== */

[dir="rtl"] .slider {
  direction: rtl;
}

[dir="rtl"] .slider__slide {
  direction: ltr; /* Content should remain LTR inside slides */
}

[dir="rtl"] .slider-button--prev {
  right: 0;
  left: auto;
}

[dir="rtl"] .slider-button--next {
  left: 0;
  right: auto;
}

/* ===========================================
   TABS RTL
   =========================================== */

[dir="rtl"] .tabs {
  direction: rtl;
}

[dir="rtl"] .tabs__tab {
  text-align: right;
}

[dir="rtl"] .tabs__content {
  text-align: right;
}

/* ===========================================
   MEDIA QUERIES FOR RTL
   =========================================== */

@media screen and (max-width: 749px) {
  [dir="rtl"] .header__menu-item {
    margin-right: 1rem;
  }

  [dir="rtl"] .product__media-gallery {
    margin-right: 0;
  }
}

@media screen and (min-width: 750px) {
  [dir="rtl"] .header__menu-item {
    margin-right: 2rem;
  }
}

/* ===========================================
   UTILITY CLASSES FOR RTL
   =========================================== */

[dir="rtl"] .rtl-text-right {
  text-align: right !important;
}

[dir="rtl"] .rtl-text-left {
  text-align: left !important;
}

[dir="rtl"] .rtl-float-right {
  float: right !important;
}

[dir="rtl"] .rtl-float-left {
  float: left !important;
}

[dir="rtl"] .rtl-margin-right {
  margin-left: 0 !important;
  margin-right: 1rem !important;
}

[dir="rtl"] .rtl-margin-left {
  margin-right: 0 !important;
  margin-left: 1rem !important;
}

/* ===========================================
   CUSTOM COMPONENTS RTL
   =========================================== */

[dir="rtl"] .instagram-views-badge {
  text-align: right !important;
  float: right !important;
}

[dir="rtl"] .video-carousel {
  text-align: right !important;
  float: right !important;
}

[dir="rtl"] button.drawer__close {
  left: 0 !important;
  width: 100%;
  translate: -45% !important;
}

[dir="rtl"] .drawer__inner {
  transform: translateX(-100%);
  transition: transform var(--duration-default) ease;
}

[dir="rtl"] .cart-drawer.active .drawer__inner {
  transform: translateX(0);
}
