.section-main-account-dynamic-padding {
  padding-top: var(--main-account-padding-top, 0);
  padding-bottom: var(--main-account-padding-bottom, 0);
}
@media screen and(min-width:750px) {
  .section-main-account-dynamic-padding {
    padding-top: var(--main-account-padding-top-desktop, 0);
    padding-bottom: var(--main-account-padding-bottom-desktop, 0);
  }
}
